@import "tailwindcss";

@theme {
  --color-primary: #4c7031;
  --color-primary-dark: #375224;
  --color-bg-light: #fdfafa;
  
  --font-heading: var(--font-playfair);
  --font-body: var(--font-lato);
  --font-script: var(--font-script);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-body text-gray-800 bg-white antialiased overflow-x-hidden;
  }
  h1, h2, h3, h4 {
    @apply font-heading font-semibold;
  }
}
